@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.brand.black');
    color: theme('colors.brand.light');
  }
}

/* Base scrollbar styling for a sleeker look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: theme('colors.brand.black');
}
::-webkit-scrollbar-thumb {
  background-color: theme('colors.brand.gray');
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.brand.muted');
}
